body:lang(fa) .markdown-body {
  font-family: "Vazir", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body:lang(fa) .gt-container .gt-ico-text {
  margin-right: 0.3125em;
  margin-left: 0;
}
body:lang(fa) .gt-container .gt-link-counts,
body:lang(fa) .gt-container .gt-link-project {
  margin-left: 5px;
}
body:lang(fa) .gt-container .gt-counts {
  margin: 0 0 0.625em 0;
}
body:lang(fa) .gt-container .gt-copyright {
  display: none;
}
body:lang(fa) .gt-container .gt-header-comment {
  margin-right: 1.25em;
  margin-left: 0;
}
@media (max-width: 479px) {
  body:lang(fa) .gt-container .gt-header-comment {
    margin-right: 0.875em;
    margin-left: 0;
  }
}
body:lang(fa) .gt-container .gt-header-controls .gt-btn {
  float: left;
  margin-right: 1.25em;
  margin-left: 0;
}
body:lang(fa) .gt-container .gt-comment-content {
  margin-right: 1.25em;
  margin-left: 0;
}
@media (max-width: 479px) {
  body:lang(fa) .gt-container .gt-comment-content {
    margin-right: 0.875em;
    margin-left: 0;
  }
}
body:lang(fa) .gt-container .gt-comment-block-2 {
  float: left;
}
body:lang(fa) .gt-container .gt-comment-date {
  margin-right: 0.5em;
  margin-left: 0;
}
body:lang(fa) .gt-container .gt-comment-edit,
body:lang(fa) .gt-container .gt-comment-reply {
  top: 0;
  left: 0;
  right: auto;
}
